#Myelement1 { 
    background-color: black; 
    width: 500px; 
    height: 100px;
}
#Myelement2 { 
    background-color: black; 
    width: 500px; 
    height: 100px;
}
#Myelement3 { 
    background-color: black; 
    width: 500px; 
    height: 100px;
}
#Myelement4 { 
    background-color: black; 
    width: 500px; 
    height: 100px;
}
#Myelement5 { 
    background-color: black; 
    width: 500px; 
    height: 100px;
}
